<div class="container-fluid meticulous-container">
  <div class="row">
    <div class="col-xl-4">
      <div class="row"><img src="http://via.placeholder.com/300X300" class="rounded mx-auto d-block" /></div>
      <hr />
      <div class="row">
        <div class="col-xl-12">
          <section id="timeline">
            <article *ngFor="let timeline of timelineData">
              <div class="inner">
                <span class="date">
                  <span class="day">{{timeline.timeline_date | date:'dd'}}</span>
                  <span class="month">{{timeline.timeline_date | date:'MMM'}}</span>
                  <span class="year">{{timeline.timeline_date | date:'yyyy'}}</span>
                </span>
                <h2>{{timeline.detail}}</h2>
                <p></p>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
    <div class="col-xl-8">

      <div class="row first-name">
        {{mentor.mentorFirstName}} {{mentor.mentorLastName}}
      </div>
      <div class="row">Mentor</div>
      <div class="row">
        {{mentor.mentorEmail}}
      </div>

      <div class="row">
        <button type="button" class="btn btn-primary">
          Messages <span *ngIf="messages > 0" class="badge badge-light">{{messages}}</span>
        </button>
      </div>

      <hr />
      <div class="row">
        <tabset>
          <tab heading="Contact Information" id="tab1">
            <div style="margin: 15px; font-style: normal;">
              <!--<div class="row" style="margin-bottom: 20px;">Contact Information</div>-->
              <div class="row">
                <div class="col-sm-4">Address: </div>
                <div class="col-sm-8">
                  <div class="row">
                    {{mentor.mentorAddress.address1}}
                  </div>
                  <div class="row">
                    {{mentor.mentorAddress.city}} {{mentor.mentorAddress.zip}}
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Mentees" id="tab1">
            <div style="margin: 15px; font-style: normal;">
              <!--<div class="row" style="margin-bottom: 20px;">Mentees</div>-->
              <div class="row">
                <table class="table table-sm">
                  <tbody>
                    <tr *ngFor="let mentee of mentorMentees">
                      <td> <a>{{mentee.menteeFirstName}} {{mentee.menteeLastName}}</a></td>
                      <td>{{mentee.menteeClassification.description}}</td>
                      <td>{{mentee.gpa}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
