<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <div id="sidebarCollapse" style="cursor: pointer">
        <i class="fas fa-bars fa-2x"></i>
      </div>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a [routerLink]="['./']">
          <i class="fas fa-home fa-2x"></i>
          <span class="text-span">Home</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['./users']">
          <i class="fas fa-users fa-2x"></i>
          <span class="text-span wow fadeIn" data-wow-delay="0.2s">Users</span>
        </a>

        <a>
          <i class="fas fa-cog fa-2x"></i>
          <span class="text-span wow fadeIn" data-wow-delay="0.2s">Settings</span>
        </a>
        <a>
          <i class="fas fa-dollar-sign fa-2x"></i>
          <span class="text-span wow fadeIn" data-wow-delay="0.2s">Sales</span>
        </a>
        <a (click)="logout()">
          <i class="fas fa-sign-out-alt fa-2x"></i>
          <span class="text-span wow fadeIn" data-wow-delay="0.2s">Log Out</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-light bg-light">
      <span> Hi! {{user.given_name}} today is {{ today | date: 'short'}}</span>
    </nav>

    <router-outlet>
    </router-outlet>
  </div>
</div>
