<div id="header" class="meticulous-header">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 wow bounceInLeft" data-wow-delay="1s">
                <h1><strong>Meticulous</strong>Mentoring</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praeclare hoc quidem. Poterat autem inpune; Quod ea non occurrentia fingunt, vincunt Aristonem; Duo Reges: constructio interrete.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 right-header-box"></div>
        </div>
    </div>
</div>

<div id="about" class="meticulous-about">
    <div class="container container-fluid">
        <h2 class="wow fadeInUp">About</h2>
        <p class="wow fadeInUp">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odium autem et invidiam facile vitabis. An nisi populari fama? Praeclare hoc quidem. Duo Reges: constructio interrete. An potest cupiditas finiri? Sed fortuna fortis;
        </p>
        <div class="timeline">
            <div class="timeline-container left wow fadeInLeft">
                <div class="content">
                    <h2>2017</h2>
                    <p>Lorem ipsum..</p>
                </div>
            </div>
            <div class="timeline-container right wow fadeInRight">
                <div class="content">
                    <h2>2016</h2>
                    <p>Lorem ipsum..</p>
                </div>
            </div>
            <div class="timeline-container left wow fadeInLeft">
                <div class="content">
                    <h2>2015</h2>
                    <p>Lorem ipsum..</p>
                </div>
            </div>
            <div class="timeline-container right wow fadeInRight">
                <div class="content">
                    <h2>2014</h2>
                    <p>Lorem ipsum..</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="team" class="meticulous-team">
    <div class="container container-fluid">
        <h2 class="wow fadeInUp">Our Team</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 wow flipInX" data-wow-delay="0.8s">
                <div class="clearfix">
                    <img src="img/25388881124_77d96ac988_m.jpg" class="rounded-circle" />
                </div>
                <p>Member 1</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 wow flipInX" data-wow-delay="0.8s">
                <div class="clearfix">
                    <img src="img/25388942134_096df3dc73_m.jpg" class="rounded-circle" />
                </div>
                <p>Member 2</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 wow flipInX" data-wow-delay="0.8s">
                <div class="clearfix">
                    <img src="img/25900738272_157331be4d_m.jpg" class="rounded-circle" />
                </div>
                <p>Member 3</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 wow flipInX" data-wow-delay="0.8s">
                <div class="clearfix">
                    <img src="img/25900818632_82e5eed46d_m.jpg" class="rounded-circle" />
                </div>
                <p>Member 4</p>
            </div>
        </div>
        <h2 class="wow fadeInUp">Our Sponsors</h2>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 wow fadeInLeft" data-wow-delay="2.4s">
                <i class="fa fa-youtube fa-5x"></i>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 wow fadeInLeft" data-wow-delay="2.0s">
                <i class="fa fa-twitch fa-5x"></i>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 wow fadeInLeft" data-wow-delay="1.6s">
                <i class="fa fa-meetup fa-5x"></i>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 wow fadeInLeft" data-wow-delay="1.2s">
                <i class="fa fa-github fa-5x"></i>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 wow fadeInLeft" data-wow-delay="0.8s">
                <i class="fa fa-android fa-5x"></i>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 wow fadeInLeft" data-wow-delay="0.4s">
                <i class="fa fa-google fa-5x"></i>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="meticulous-contact">
    <div class="container container-fluid">
        <div class="row">
            <h2 class="wow fadeInUp">Contact</h2>
            <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Itaque ad tempus ad Pisonem omnes. An potest cupiditas finiri? Duo Reges: constructio interrete. Stoicos roga.</p>
            <div class="col-lg-6 col-md-6">
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="0.8s">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Full Name" />
                </div>
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Email Address" />
                </div>
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Phone Number" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="input-group wow fadeInUp" data-wow-delay="2s">
                    <textarea name="" id="" cols="80" rows="6" class="form-control"></textarea>
                </div>
                <button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s">Submit Your Message</button>
            </div>
        </div>
    </div>
</div>