<div class="container-fluid meticulous-container">
  <div class="row">
    <div class="col-xl-4">
      <div class="row"><img src="http://via.placeholder.com/300X300" class="rounded mx-auto d-block" /></div>
      <hr />
      <div class="row">
        <div class="col-xl-12">
          <section id="timeline">
            <article *ngFor="let timeline of timelineData">
              <div class="inner">
                <span class="date">
                  <span class="day">{{timeline.timeline_date | date:'dd'}}</span>
                  <span class="month">{{timeline.timeline_date | date:'MMM'}}</span>
                  <span class="year">{{timeline.timeline_date | date:'yyyy'}}</span>
                </span>
                <h2>{{timeline.detail}}</h2>
                <p></p>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
    <div class="col-xl-8">

      <div class="row first-name">
        {{mentee.menteeFirstName}} {{mentee.menteeLastName}}
      </div>
      <div class="row">
        {{mentee.menteeDOB | date}}
      </div>
      <div class="row">
        {{mentee.menteeClassification.description}}
      </div>
      <div class="row">
        {{mentee.menteeSchool.school_name}}
      </div>
      <div class="row">
        {{mentee.menteeEmail}}
      </div>

      <div class="row">
        <button type="button" class="btn btn-primary">
          Messages <span *ngIf="messages > 0" class="badge badge-light">{{messages}}</span>
        </button>
      </div>

      <hr />
      <div class="row">
        <tabset #menteeTabs>
          <tab heading="Contact Information" id="tab1">
            <div style="margin: 15px; font-style: normal;">
              <div class="row" style="margin-bottom: 20px;">Contact Information</div>
              <div class="row">
                <div class="col-sm-3">Address:</div>
                <div class="col-sm-9">
                  <div class="row">
                    {{mentee.menteeAddress.address1}}
                  </div>
                  <div class="row">
                    {{mentee.menteeAddress.city}} {{mentee.menteeAddress.zip}}
                  </div>
                </div>
                <div class="col-sm-3">Email:</div>
                <div class="col-sm-9">
                  <div class="row"> {{mentee.menteeEmail}}</div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Guardian Information">
            <div style="margin:0; font-style: normal;">
              <div class="row">
                <div class="col-sm-3">
                  Guardian:
                </div>
                <div class="col-sm-9" style="padding-left: 0px;">
                  {{guardian.guardianFirstName}} {{guardian.guardianLastName}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  Address:
                </div>
                <div class="col-sm-9">
                  <div class="row">
                    {{guardian.guardianAddress.address1}}
                  </div>
                  <div class="row">
                    {{guardian.guardianAddress.city}} {{guardian.guardianAddress.zip}}
                  </div>
                </div>
                <div class="col-sm-3">Email:</div>
                <div class="col-sm-9">
                  <div class="row"> {{guardian.guardianEmail}}</div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Mentee Grades">
            <div class="row" style="margin: 0; font-style: normal;">

              <div class="col-xs-1" *ngFor="let group of grades | groupBy: ['gradePeriod.description'] | pairs; last as isLast">
                <table class="table table-sm">
                  <tr>
                    <th rowspan="6" class="align-middle">{{group[0]}} </th>
                    <th>Course</th>
                    <th>Grade</th>
                  </tr>
                  <tr *ngFor="let subjectGroup of group[1]">
                    <td>{{subjectGroup.gradeCourse.course_name}}</td>
                    <td>{{subjectGroup.gradeValue | round: 2}}</td>
                  </tr>
                </table>
                <span class="d-flex justify-content-end" *ngIf="isLast">G.P.A: </span>
              </div>
            </div>
            <form [formGroup]="myForm" novalidate class="form-inline">
              <div formArrayName="grades">
                <div *ngFor="let grade of myForm.controls.grades.controls; let i=index" class="panel panel-default">
                  <div class="panel-body" [formGroupName]="i">
                    <div class="form-row">
                      <div class="col-xs-3"></div>
                      <div class="col-xs-3">
                        <select class="form-control-sm" formControlName="period">
                          <option [ngValue]="-1" [selected]="true">--- Select Grading Period---</option>
                          <option *ngFor="let period of gradingPeriods" [ngValue]="period.id">{{period.description}}</option>
                        </select>
                      </div>
                      <div class="col-xs-3">
                        <select class="form-control-sm" formControlName="course">
                          <option [selected]="true">--- Select Course ---</option>
                          <option *ngFor="let course of courses" [ngValue]="course.id">{{course.course_name}}</option>
                        </select>
                      </div>
                      <div class="col-xs-2">
                        <input type="text" class="form-control-sm" formControlName="value" placeholder="Value" />
                      </div>
                      <div class="col-xs-1">
                        <span class="fa fa-remove pull-right" (click)="removeGrade(i)"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div *ngIf="grades.length < 20" style="text-align: center; margin: 10px;">
              <button class="btn btn-primary" (click)="add_blank_grade()">Add Grade</button>
              <button [disabled]="!myForm.valid" *ngIf="myForm.controls.grades.controls.length > 0" class="btn btn-success" (click)="save_grades(myForm)">Save Grade(s)</button>
            </div>
          </tab>
          <tab heading="Suggested Programs/Events"></tab>
          <tab heading="Interventions"></tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
