<mat-toolbar>
    <span>Mentee Registration</span>
</mat-toolbar>
<div class="mentee-form-container">
    <mat-horizontal-stepper [linear]="false">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Mentee</ng-template>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="First Name" formControlName="first_name"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last Name" formControlName="last_name"/>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="Address 1" formControlName="address1"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Address 2" formControlName="address2"/>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="City" formControlName="city"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Zip" formControlName="zip"/>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-select placeholder="Select Gender" formControlName="menteeGender">
                            <mat-option value="M">M</mat-option>
                            <mat-option value="F">F</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="DOB" formControlName="dob"/>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email"/>
                    </mat-form-field>
                </div>

                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Education</ng-template>
                <div class="form-group">
                    <mat-form-field>
                        <mat-select placeholder="School" formControlName="school">
                            <mat-option *ngFor="let school of schools" [value]="school">
                                {{school.schoolName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-select placeholder="Classification" formControlName="classification">
                            <mat-option *ngFor="let classification of classifications" [value]="classification">
                                {{classification.classificationDescription}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Guardian</ng-template>

                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="First Name" formControlName="guardianFirstName"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last Name" formControlName="guardianLastName"/>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-select placeholder="Select Gender" formControlName="guardianGender">
                            <mat-option value="M">M</mat-option>
                            <mat-option value="F">F</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
               
                <div class="form-group">
                    <div class="form-group">
                        <mat-checkbox [ngClass]="'guardian-checkbox'" color="primary" (change)="isChildAddressShared = !isChildAddressShared;copyAddress()">Check if address is the same as mentee.</mat-checkbox>
                    </div>
                    <mat-form-field>
                        <input matInput placeholder="Address 1" formControlName="guardianAddress1"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Address 2" formControlName="guardianAddress2"/>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="City" formControlName="guardianCity"/>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Zip" formControlName="guardianZip"/>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="guardianEmail"/>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <div mat-dialog-actions>
                    <button mat-button (click)="submitMentee()" [mat-dialog-close]="true" cdkFocusInitial>Submit</button>
                </div>
                
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>