.mentee-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.mentee-form-container > * {
    width: 700px;
}

.fill-space {
    flex: 1 1 auto;
}

.guardian-checkbox {
    margin-left: 20px;
}

