<div class="row">
  <div class="col-md-12" style="display: flex;">
    <a [routerLink]="['./users']" (click)="openMenteeFormDialog()" class="btn btn-sq-lg btn-primary">
      <i class="fas fa-graduation-cap fa-5x"></i><br />
      Add Mentee
    </a>
    <a [routerLink]="['./users']" (click)="openMentorFormDialog()" class="btn btn-sq-lg btn-warning">
      <i class="fas fa-user-graduate fa-5x" style="color: #fff"></i><br />
      Add Mentor
    </a>
    <a [routerLink]="['./users']" *ngIf="role === 'Admin'" (click)="openDirectorFormDialog()" class="btn btn-sq-lg btn-success">
      <i class="fas fa-chalkboard-teacher fa-5x" style="color: #fff"></i><br />
      Add Director
    </a>
    <a [routerLink]="['./users']" *ngIf="role === 'Admin'" (click)="openAdminFormDialog()" class="btn btn-sq-lg btn-danger">
      <i class="fas fa-user-plus fa-5x" style="color: #fff"></i><br />
      Add Admin
    </a>
    <div style="display: flex; justify-content: space-between;">
      <!--<img height="50" width="50" src='/qftapp/assets/images/adobe-pdf-icon.png' style="cursor: pointer" class="fa-2x" tooltip="Generate PDF" containerClass="customClass" [delay]="500" />

      <img height="60" width="50" src='/qftapp/assets/images/excel-icon.png' style="cursor: pointer;" class="fa-2x" tooltip="Generate Spreadsheet" containerClass="customClass" [delay]="500" />-->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-12 wow fadeIn" data-wow-delay="0.2s">
    <table class="table table-borderless table-sm" id="usersTable">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>
          <button type="button" *ngIf="user.screen_status === ScreenType.NotStarted" class="btn btn-success btn-sm" style="cursor: pointer;">Start Screening Process</button>
          <h4 *ngIf="user.screen_status === ScreenType.Pending" class="text-warning">Screening Pending</h4>
          <h4 *ngIf="user.screen_status === ScreenType.Failed" class="text-danger">Screening Failed</h4>
        </td>
        <td><button type="button" (click)="open_delete_modal(template, user)" style="cursor: pointer;" class="btn btn-primary">Delete</button></td>
      </tr>
    </table>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete {{user_to_delete.firstName}} {{user_to_delete.lastName}}?</p>
    <button type="button" class="btn btn-success" style="margin: 5px;" (click)="confirm_user_delete()">Yes</button>
    <button type="button" class="btn btn-primary" style="margin: 5px;" (click)="this.bsModalRef.hide()">No</button>
  </div>
</ng-template>
