<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">

        <mat-nav-list>
            <mat-list-item>
                <span style="cursor: pointer" class="fa fa-bars fa-2x" (click)="isExpanded = !isExpanded"></span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="fa fa-home" mat-list-icon></mat-icon>
                <p matLine *ngIf="isExpanded">Home</p>
            </mat-list-item>
            <mat-list-item [matMenuTriggerFor]="users" [hidden]="role == 'Mentor' || role == 'Mentee'">
                <mat-icon class="fa fa-user" mat-list-icon></mat-icon>
                <p matLine *ngIf="isExpanded">Users</p>
            </mat-list-item>
            <mat-menu #users="matMenu">
                <button mat-menu-item [hidden]="role != 'Admin'">New Admin</button>
                <button mat-menu-item *ngIf="role == 'Director' || role == 'Admin'" (click)="openDirectorFormDialog()">New Director</button>
                <button mat-menu-item *ngIf="role =='Director' || role == 'Admin'" (click)="openMentorFormDialog()">New Mentor</button>
                <button mat-menu-item *ngIf="role =='Director' || role == 'Admin'" (click)="openMenteeFormDialog()">New Mentee</button>
            </mat-menu>
            <mat-list-item>
                <mat-icon class="fa fa-cog" mat-list-icon></mat-icon>
                <p matLine *ngIf="isExpanded">Settings</p>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <span>Dashboard</span>
        <span class="fill-space"></span>
        <span style="cursor: pointer" (click)="logout()">Logout <mat-icon class="fa fa-sign-out"></mat-icon></span>
    </mat-toolbar>
    <div class="example-sidenav-content" [ngSwitch]="role">
        <admin-dashboard *ngSwitchCase="'Admin'"></admin-dashboard>
        <mentee-profile *ngSwitchCase="'Mentee'"></mentee-profile>
    </div>
</mat-sidenav-container>